body {
    background-color: rgb(255, 255, 255);
}
.rectangle-left {
  width: 465px;
  height: 295px;
  float: left;
  left: 25%;
  top: 20%;
  line-height:110px;
  border-radius: 50%;
  font-size: 22px;
  font-family: 'Sedgwick Ave Display';font-size: 29px;
  color: rgb(0, 0, 0);
  text-align: center;
  background: black;
  margin: 100px;
}
.imagePosition{
  width: 250px;
  height: 250px;
  float: right;
  margin-right: 700px;
}

.navi {
    list-style-type: none; 
    padding: 0;
    text-align: center;
  }
  
  .navi li {
    display: inline-block;
    width: 25%;
    text-align: center;
  }
  
  .navi li a {
    display: block;
    font-size: 20px; 
    font-weight: bold; 
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s; 
  }
  
  .navi li a:hover {
    background-color: #f0f0f0; 
  }

  .magasin {
    display: flex;
}

.left, .right {
    flex: 1;
    padding: 20px;
}

.left {
    border-right: 2px solid #000; /* This adds the vertical line */
}

.orders {
    border: 2px solid #000; /* This isolates the orders in its own rectangle */
    padding: 20px;
}
.gestionPage{
  display: flex;
  flex-direction: column;
}
.top, .bottom {
display: flex;
flex-direction: column;
flex:1;
padding: 20px;
}
.top {
  border-bottom: 2px solid #000;
}
.topOrganizer {
  display: flex;
}