body {
    background-color: rgb(255, 255, 255);
}
.navi {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    text-align: center;
  }
  
  .navi li {
    display: inline-block;
    width: 25%;
    text-align: center;
  }
  
  .navi li a {
    display: block;
    font-size: 20px; /* Set font size */
    font-weight: bold; /* Set font weight */
    padding: 10px;
    text-decoration: none;
    color: #000; /* Set text color */
    transition: background-color 0.3s; /* Add transition effect */
  }
  
  .navi li a:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  